
@{
    ViewBag.Title = "hotels";
}

<h2>Hotels</h2>

<style>
    h3 {
        color: #EB233C;
    }
    img {
        width :300px;
       height:200px
    }
    td{
        padding:10px;
        margin:5px;
    }

</style>
<table width="100% " height="500px">
    <tr>
        <td>
            <h3> The Gabriel Hotel</h3> <p>
                Suncity Mall, Autostrad Road, Heliopolis, 99999 Cairo, Egypt Telephone & Contact The Gabriel Hotel +20 2 26960700
            </p>
        </td>
        <td> <img src="/Content/img/25egypt-hotel2-videoSixteenByNineJumbo1600.jpg" /></td>


        <td>
            <h3>Radissonblu Hotel</h3> <p>
                Abdel Hamid Badawi، St، Heliopolis , cairo 11787 - 02 6965656
            </p>
        </td>
        <td> <img src="/Content/img/2cbe516943a53d8a7540c2eea3ad2100.jpg" "  /></td>
    </tr>
    <tr>
        <td>
            <h3> HELIOPOLIS TOWERS HOTEL</h3> <p>
                El Saheed Sayed Zakaria Street, Cairo, Egypt Tel: +20-22-2677730
            </p>
        </td>
        <td> <img src="/Content/img/download (1).jpg" /></td>
        <td>
            <h3> Le Passage Cairo & Casino</h3> <p>
                Cairo Intl Airport road, Heliopolis. 11361 Cairo, Egypt. tel:+202 22670099 - +201 00 2176900 - 07- +202 24180761
            </p>
        </td>
        <td> <img src="/Content/img/download.jpg" /></td>
    </tr>
    <tr>
        <td>
            <h3> Le Meridien Cairo Airport</h3> <p>
                Cairo International Airport, Terminal 3, Cairo Egypt Phone:+20 2 22659600 Fax:+20 2 22659701 Sales:+20 2 22659600 ext= 8442 Sales fax:+20 2 22659700 Toll-Free Reservation Center:+20 2 22659680 ext= 8051
            </p>
        </td>
        <td> <img src="~/Content/img/eti_20143_lei8814_13247371304_o-lr.jpg" /></td>
        <td>
            <h3>
                Novotel Hotel
            </h3> <p>
                Po Cairo Airport, CAIRO, 11776 - 3822 111 0111
            </p>
        </td>
        <td> <img src="~/Content/img/Jaz-Aquaviva-Resort-750x411.jpg" /></td>
    </tr>
    
</table>
